.DS_Store

# Node / Vite
node_modules/
web/node_modules/
web/dist/
web/.vite/
server/node_modules/
server/dist/
infra/node_modules/
infra/dist/
infra/cdk.out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


